 <style>
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.logo_container{
	position:absolute;
	width: 290;
	height: 90;
	border-radius: 28px;
	background: #141414;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
	position:relative;
	font-family: "Audiowide", sans-serif;
	font-size: 80px;
	color: #EFEFEF;
  left:-.5px;
	top:-3px;
}
.logo_description {
	position:inherit;
	font-family: "Montserrat", sans-serif;
	color: #141414;
	font-size: 20px;
	letter-spacing: .04px;
	top:-112;
	left:6px;
}
.form-container {
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .form-content-left {
    background: #EFEFEF;
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  
    
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
.form h1 {
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
  }
  

  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      180deg,
      rgb(248, 248, 248) 0%,
      rgb(97, 99, 104) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .form-input-btn:active {
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgb(146, 150, 155) 0%,
      rgb(55, 57, 61) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
.form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }

</style>

<header>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />    
</header>
 
<div class="form-container">
    <div class="form-content-left">
        <div class='logo_container'>
            <h1 class='logo'>
                PPMQ
            </h1>
            <span class="logo_description">
                Push Pull Message Queue
            </span>
        </div>
    </div>
    <div class='form-content-right'>
        <form class='form' name="LoginForm" action="/processLogin" accept-charset="UTF-8" role="form" method="POST" >
            <div class="form-inputs">
                <label class='form-label'>Username</label>
                <input 
                    class="form-input" 
                    placeholder="Username" 
                    name="username" 
                    type="text" 
                />
            </div>
            <div class="form-inputs">
                <label class='form-label'>Password</label>
                    <input 
                        class="form-input" 
                        placeholder="Password" 
                        name="password" 
                        type="password" 
                        value=""
                    />  
            </div>
            <button class="form-input-btn" type="submit" value="Login">
                Login
            </button>
            <span class='form-input-login'>
                Don't have an account? Create one <a href='#'>here</a>
            </span>
        </form>
    </div>
</div>

